.about-container {
  padding: 30px;
}
.cart {
  margin: 10px;
  border: 1px solid rgb(24, 136, 39);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 300px;
}

.about2-container {
  padding: 30px;
}
.cart2 {
  margin: 10px;
  border: 1px solid rgb(24, 136, 39);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 400px;
}

.brd {
  border: 2px solid rgb(24, 136, 39);
  border-radius: 10px;
}
